.inner-content {
  background: white;
  width: 95%;
  margin: auto;
  margin-top: 2%;
  padding: 25px;
  position: relative !important;
  min-height: 800px;
  height: 100%;
  overflow: auto;
}

.middle-line {
  line-height: 54;
}

.overlay-row {
  background: #ffffffeb;
    text-align: center;
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    z-index: 99999;
    top: 0;
    bottom: 0;
    cursor: progress;
}

.ant-form-item-label {
  display: inline-block;
  overflow: hidden;
  line-height: 39.9999px;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  margin-right: 10px;
}

.ant-typography {
  line-height: 20px;
}

.ant-form-item {
  margin-bottom: 0px;
  vertical-align: top;
}

.buttonrow .ant-col-offset-7 {
  margin-left: 23.10%;
}
